<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://polyfill.io/v3/polyfill.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="main.js"></script>
</head>

<body>

<header>
    <div class="">
        Logo
    </div>
    <div class="">
        navigation
    </div>
</header>

<main>
    <section>
<!--        <form onsubmit="return handleSubmit(event)">-->
            <div class="form-input-div">
                <label for="name">Your name</label>
                <input id="name" type="text" name="input" value="" placeholder="Name">
                <label for="url">Article URL</label>
                <p id="directions">HTTP urls only. No HTTPS</p>
                <input id="url" type="url" name="input" value="" placeholder="Article URL">
            </div>
            <input type="submit" name="" value="submit" onclick="return handleSubmit(event)"
                   onsubmit="return handleSubmit(event)">
<!--        </form>-->
        </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
</main>

<footer>
    <p>CTP Dev</p>
</footer>

</body>
</html>
