body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, sans-serif;

}
html {
    background-color: var(--background-light);
}
main {
    flex: 2;
}
#directions {
    padding: 10px;
    font-size: 10px;
}
section {
    max-width: 800px;
    margin: 50px auto;
}
