form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    font-family: Roboto, sans-serif;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    font-family: Roboto, sans-serif;
    border-radius: var(--default-border-radius);
    background-color: var(--primary-light);
    border-color: transparent;
    box-shadow: var(--default-shadow)
}

.form-input-div {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px;
}